<div class="row">
  <div class="col-xs-offset-1 col-xs-10">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Panel heading</div>
      <div class="panel-body">
        <p>Lista de grupos</p>
      </div>
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <td>ID</td>
            <td>Titulo</td>
            <td>context</td>
            <td>Status</td>
            <td>Habilitado</td>
            <td>Ação</td>
            <td>Moderar</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="event in $ctrl.events" can-read context="{{event.context}}" context-id="event.id" moderadors="event.moderators">
            <td>{{event.id}}</td>
            <td>{{event.title}}</td>
            <td>{{event.context}}</td>
            <td>{{event.status != 'moderator' ? event.status : 'Aguardando aprovação do moderador'}}</td>
            <td>{{event.active}}</td>
            <td>
              <button can-delete context="{{event.context}}" context-id="event.id" moderadors="event.moderators" class="btn glyphicon glyphicon-remove"
                ng-click="$ctrl.deleteevent(event)"></button>
                <button can-update context="{{event.context}}" context-id="event.id" moderadors="event.moderators" class="btn glyphicon glyphicon-pencil"
                  ng-click="$ctrl.edit($index)"></button>
            </td>
            <td>
              <div can-publish context="{{event.context}}" context-id="event.id" moderadors="event.moderators">
                <button class="btn btn-primary glyphicon glyphicon-ok" ng-if="event.status === 'moderator'" ng-click="$ctrl.publish(event)"
                  title="Aprovar"></button>
                  <button class="btn btn-danger glyphicon glyphicon-minus" ng-if="event.status === 'published'" ng-click="$ctrl.publish(event)"
                    title="Despublicar"></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">NOVO/EDITAR</div>
      <div class="panel-body">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">ID</span>
          <input type="number" class="form-control" ng-model="$ctrl.newevent.id">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Título</span>
          <input type="text" class="form-control" ng-model="$ctrl.newevent.title">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Texto</span>
          <textarea class="form-control" ng-model="$ctrl.newevent.text"></textarea>
        </div>
        <div class="input-group">
          <input id="basic" name="basic" type="checkbox" ng-model="$ctrl.newevent.active" placeholder="Username" aria-describedby="basic">
          <label for="basic">Ativar</label>
        </div>
        <button class="btn glyphicon glyphicon-plus" ng-click="$ctrl.addevent()" ng-if="!$ctrl.isEdit" can-create context="page"
          context-id="0" moderadors="[22]"></button>
          <button class="btn" ng-if="$ctrl.isEdit" ng-click="$ctrl.saveEdit()">Salvar</button>
      </div>
    </div>
  </div>
</div>
