<uib-accordion close-others="oneAtATime" ng-repeat="resource in $ctrl.resources">
  <div uib-accordion-group class="panel-default" is-open="status.open">
    <uib-accordion-heading>
      {{resource.group}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    </uib-accordion-heading>
    <div class="panel panel-default">
      <table class="table">
        <thead>
          <tr>
            <th>Contexto</th>
            <th>Criar</th>
            <th>Visualizar</th>
            <th>Editar</th>
            <th>Remover</th>
            <th>Publicar</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="context in resource.contexts">
            <td>{{context.name}}</td>
            <td>
              <input type="checkbox" ng-model="$ctrl.resources[$parent.$index].contexts[$index].roles.c" ng-click="$ctrl.edit(resource)">
            </td>
            <td><input type="checkbox" ng-model="$ctrl.resources[$parent.$index].contexts[$index].roles.r" ng-click="$ctrl.edit(resource)"></td>
            <td><input type="checkbox" ng-model="$ctrl.resources[$parent.$index].contexts[$index].roles.u" ng-click="$ctrl.edit(resource)"></td>
            <td><input type="checkbox" ng-model="$ctrl.resources[$parent.$index].contexts[$index].roles.d" ng-click="$ctrl.edit(resource)"></td>
            <td><input type="checkbox" ng-model="$ctrl.resources[$parent.$index].contexts[$index].roles.p" ng-click="$ctrl.edit(resource)"></td>
          </tr>
        </tbody>
      </table>
    </div>
</uib-accordion>
