<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <p>Lista de grupos</p>
  </div>
  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <td>Nome</td>
        <td>Descrição</td>
        <td>Status</td>
        <td>Ação</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="group in $ctrl.groups">
        <td>{{group.name}}</td>
        <td>{{group.info}}</td>
        <td>{{group.active}}</td>
        <td>
          <button class="btn glyphicon glyphicon-remove" ng-click="$ctrl.deletegroup(group)"></button>
          <button class="btn glyphicon glyphicon-pencil"></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="panel panel-default col-md-3">
  <div class="panel-heading">Ações</div>
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Nome</span>
      <input type="text" class="form-control" ng-model="$ctrl.newgroup.name" placeholder="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Descrição</span>
      <input type="text" class="form-control" ng-model="$ctrl.newgroup.info" placeholder="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <input id="basic" name="basic" type="checkbox" ng-model="$ctrl.newgroup.active" placeholder="Username" aria-describedby="basic">
      <label for="basic">Ativar</label>
    </div>
    <button class="btn glyphicon glyphicon-plus" ng-click="$ctrl.addgroup()"></button>
    <button class="btn">Salvar</button>
  </div>
</div>
